* {
 margin: 0;
 padding: 0;
}
body
{
    margin: 0px;
    font-family: 'Comfortaa';font-size: 17px;
}
#header,#headerother
{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #021826;
    color: white;
    font-size: 24px;
    height: 90px;
}

#header ul, #headerother ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
#header ul li a{
    margin: 50px;
    color: white;
    text-shadow: 2px 1px 1px #CC5500;
    text-decoration: none;
}
#header ul li a:hover{
  margin: 50px;
  color: #CC5500;
  text-shadow: 2px 1px 1px white;
  text-decoration: none;
}

#headerother ul li a{
  margin: 50px;
  color:#CC5500;
  text-shadow: 2px 1px 1px white;
  text-decoration: none;
}
#headerother ul li a:hover{
  margin: 50px;
  color: white;
  text-shadow: 2px 1px 1px #CC5500;
  text-decoration: none;
}
#img-holder
{
  position: relative;
   height:400px;
   padding: 150px auto 150px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 35px;
   background-image: url("./404-featured.jpg");
    /* change the id of the main page that we have */
   /* background-position: ; */
   background-position: center;
   background-size: 100%;/* takes the center of tshe image and then places in the tag*/
   background-repeat: no-repeat;
   filter: invert(62%) sepia(23%) saturate(900%) hue-rotate(347deg) brightness(86%) contrast(85%);
}
.pagenotfound
{
  font-family:'Montserrat' ;
  font-size: 30px;
  position: absolute;
  top: 270px;
  left:600px;
  filter: none;
  position: absolute;
  z-index: 100;
  opacity: 1;
  color: black;
}
#img-holdermain
{
  /* the way the image will not strectch is as follows and we can work for it as follows */
  height:430px;
  padding: 150px auto 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  background-image: url("./rodeo-drive.jpg");
  background-position: bottom center; /* this was the key line that we have*/
  background-repeat: no-repeat;
  background-size: 1440px; /* here we can set the background image for the consideration that we have */
}
#img-holder img /* tip to have the img set to the full width and the full height */
{
  width: 1438px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0% 85%; */
  opacity: 0.3;
  
}
/* #img-holdermain img
{
  width: 1436px;
  height: 400px;
  background-size: cover;
  
 
} */
.centered 
{
    color: #CC5500;
    text-shadow: 2px 2px 1px white;
    position: absolute;
    top: 275px; /* orgininal was 30% from top*/
    left: 730px; /* original was 50% from left */
    transform: translate(-50%, -50%);
    font-weight: bold;
  }
.destinations
  {
      display: flex;
      justify-content: space-around;
      color:white;
      background-color: #36454F;
      padding: 80px;
  }
#griffith, #mountains, #universal
 {
    background-color: #021826;
    /*margin-top: 120px;*/
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    width: 250px;/*original 25%*/

    border-radius: 5px;

    /*additional line being added*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
  }
#griffith img, #mountains img, #universal img
{
 
  display: block; /*we want the left and the right borders to be respected  */
  height:150px;
  width:250px;/*original 80% is the value*/
  /*padding-top: 20px;*/
  margin-bottom: 5px;
}
h3{
   text-align: center;
}
#griffith p, #mountains p, #universal p
{
  display: block;
  padding: 6px;
}

#los-angeles
{
display: flex;
padding: 80px 60px 80px 60px;
justify-content: space-evenly;
margin: 0;
color: white;
background-color: #021826;
}
#los-angeles img
{
  height: 250px;
  width: 350px;/*original 30% is the value */
}
#los-angeles p
{
  width: 600px;/* original is 50% width that we have set it to */

}

.visit
{
  display: flex;
  padding: 80px 60px 80px 60px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #36454F;
  color: white;
  margin-bottom: 0px;
  
}
.visit img
{
  height: 200px;
  width: 20%;
}
.visit div
{
  width: 600px;
}
#footer
{
 background-color:#021826;
 display: flex;
 color: white;
 justify-content: space-around;
 padding: 60px;
 font-size: 16px;
}
#design a{
  text-decoration: none; color:white;
}
#mail:hover
{
  text-decoration: underline;
}
#phone:hover{
  text-decoration: underline;
}
#hollytitle
{
  /* here we can realise what we can do is as follows */
  font-size: 24px;
  margin-left:-120px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
}
#holly
{
  margin-left:-120px;
}
#beachtitle
{
  margin-top: -10px;
  font-size: 24px;
  text-align: right;
  margin-right:-120px;
  margin-bottom: 10px;
 
}
#beach
{
  margin-right:-120px;
}
#holly,#beach,#la
{
  text-align: justify;
}
#nameinsertion
{
 margin-left: 20px;
}
#quotetext,#quotename
{
  margin-left: 150px;
}
#phone:hover
{
text-decoration: underline;
}
#mail
{
  display: inline-block; /* as it is an inline block element then it should respect the margin border and padding so inline block*/
  margin-bottom: 10px;
}
#quotename
{
  
  display: inline-block;
padding-top: 25px;
 margin-bottom: 0px; 
}
.destinations
{
  text-align: center;
  font-size: 22px;
}
.card
{
font-size: 18px;
text-align: left;
}
#gr,#mtn,#uni
{
  display: inline-block;
  text-align: justify;
  /*padding-left: 20px;*/
  font-size: 18px;
}
#grdesc,#mtndesc,#unidesc
{
  margin-top: 5px;
  font-size: 15px;
}
.hollyclass
{
  padding-bottom: 0px;
}
